<!DOCTYPE html>
<html ng-app ="todo">
  <head>
    <meta charset="utf-8">
    <title>Todo App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </head>
  <body ng-controller="mainController">
    <div class="container">
      <h1>Todo App</h1>
      <!-- New Todo Form -->
      <div id="new-todo-form" class="row text-center">
        <form class="form" role="form">
          <div class="input-group">
            <input type="text" class="form-control input-lg text-center" ng-model="formData.text">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary btn-lg" ng-click="newTodo()">Add Todo</button>
            </span>
          </div>
        </form>
      </div>

      <!-- Pending Todo List -->
      <div id="todo-list-pending" class="row text-center">
        <h1>Pending Todos <span class="label label-default">{{ (todos|filter:{completed: false}).length }}</span></h1>
        <div class="col-sm-8 col-sm-offset-2">
          <div ng-repeat="todo in todos">
            <div ng-if="todo.completed == false">
              <!-- Todo text and buttons -->
              {{todo.text}}
              <button type="button" class="btn btn-success" ng-click="toggleComplete(todo._id)">Complete</button>
              <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#coll{{todo._id}}" ng-click="openEdit(todo._id, todo.text)">Edit</button>
              <button type="button" class="btn btn-danger" ng-click="deleteTodo(todo)">Delete</button>

              <!-- Edit Item Collapsible -->
              <div id="coll{{todo._id}}" class="collapse">
                <form class="form" role="form">
                    <div class="input-group">
                      <input type="text" class="form-control input-sm text-center" ng-model="editInputs[todo._id]">
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-sm" ng-click="editTodo(todo._id)" data-toggle="collapse" data-target="#coll{{todo._id}}">Edit Todo</button>
                        <button class="btn btn-danger btn-sm" data-toggle="collapse" data-target="#coll{{todo._id}}">Cancel</button>
                      </span>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Completed Todo List -->
      <div id="todo-list-completed" class="row text-center">
        <h1>Completed Todos</h1>
        <div class="col-sm-8 col-sm-offset-2">
          <div ng-repeat="todo in todos">
            <div ng-if="todo.completed == true">
              {{todo.text}}
              <button type="button" class="btn btn-primary" ng-click="toggleComplete(todo._id)">Un-Complete</button>
              <button type="button" class="btn btn-danger" ng-click="deleteTodo(todo)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
