<h1>Your Ingredients</h1>
<table border="1" id='ing-table'>
	<tr>
		<th>Name</th>
		<th>Price</th>
		<th>Out of Stock</th>
		<th>Edit</th>
	</tr>
	{{#each ingredients}}
		<tr id="{{_id}}">
		  <td>{{name}}</td>
		  <td>{{price}}</td>
		  {{#if inStock}}
		    <td><input class="outStockBtn" type="button" value="Out of Stock"></td>
		  {{else}}
		    <td><input class="inStockBtn" type="button" value="Back in Stock"></td>
		  {{/if}}
		  <td><input class="editBtn" type="button" value="Edit"></td>
		</tr>
	{{/each}}
</table>
<h2>Add New Ingredient</h2>
<form id="add-ingredient-form" action="overrideMe" method="POST">
	Name: <input type="text" name="name"/><br/>
	Price: <input type="text" name="price"/><br/>
	<input type="submit" value="Submit">
</form>


