<h1>Your Ingredients</h1>
<table border="1">
	<tr>
		<th>Name</th>
		<th>Price</th>
		<th>Out of Stock</th>
		<th>Edit</th>
	</tr>
	{{#each ingredients}}
		<tr>
			<td>{{name}}</td>
			<td>{{price}}</td>
			<td>out of stock button</td>
			<td>edit button</td>
		</tr>
	{{/each}}
</table>
<h2>Add New Ingredient</h2>
<form id="add-ingredient-form" action="getCat" method="POST">
	Name: <input type="text" name="name"/><br/>
	Price: <input type="text" name="price"/><br/>
	<input type="submit" value="Submit">
</form>