<h1>The Kitchen</h1>
<p>Showing all pending orders</p>
<ul>
	{{#each orders}}
		<li id="{{_id}}">
			<input class="completedBtn" type="button" value="Completed">
			{{#each ingredients}}
				{{name}}
			{{/each}}
		</li>
	{{/each}}
</ul>