<tr id="{{_id}}">
  <td>{{name}}</td>
  <td>{{price}}</td>
  {{#if inStock}}
    <td><input class="outStockBtn" type="button" value="Out of Stock"></td>
  {{else}}
    <td><input class="inStockBtn" type="button" value="Back in Stock"></td>
  {{/if}}
  <td><input class="editBtn" type="button" value="Edit"></td>
</tr>